body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #233aa0;  
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}